:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}



*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Poppins", sans-serif;
  }
  .wrapper{
      width: 420px;
      background: transparent;
      color: #fff;
      border-radius: 10px;
      padding: 30px;
      border: 2px solid rgb(105, 138, 220);
      backdrop-filter: blur(20px);
  }
  body{
      justify-content: center;
      align-items: center;
      display: flex;
      min-height: 100vh;
      background: url(bubble.jpeg) no-repeat;
      background-size: cover;
  }
  .wrapper h1{
     font-size: 36px; 
     text-align: center;
  }
  .input-box input{
      height: 100%;
  background: transparent;
       width: 100%;
       outline: none;
       border: none;
       border-radius: 40px;
  border:2px solid rgba(255,255,255,.2);
  font-size: 16px;
  padding: 19px;
  }
  .wrapper .input-box{
      height: 50px;
      width: 100%;
      margin: 30px 0;
      background: rgb(205, 205, 255);
      border-radius: 40px ;
  
  }
  .input-box i{
      position: absolute;
      right: 20px;
  
  }
  .input-box input::placeholder{
      color: #fff;
      
  }
  .wrapper .remember-forgot{
      display: flex;
      justify-content: space-between;
      font-size: 14.6px;
      margin: -15px 0 15px;
  } 
  .remember-forgot label input{
  margin-right: 3px;
  }
  .remember-forgot a{
      color:#fff;
      text-decoration: none;
  
  }
  
  .remember-forgot a:hover{
      text-decoration: underline;
  }
  .wrapper .register-link{
      font-size: 14.5px;
      text-align: center;
      margin-top: 20px 0 15px;
  }
  .wrapper .btn{
      background: rgb(255, 255, 255);
      width: 100%;
      height: 45px;
      border: none;
      outline: none;
      border-radius: 40px;
      cursor: pointer;
      font-size: 16px;
      font-weight: 550;
  }
  .register-link p a{
      color: #fff;
      text-decoration: none;
    font-weight: 500;  
  }
  .register-link p a:hover{
  text-decoration: underline;
  }

  *{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    }
    .container{
    margin:50px auto;
    padding: 25px;
    background-color:  #13141a;
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(0,0,0, 0.3);
    width: 90%;
    max-width: 600px;
    }
    body{
      background: url(purple.jpg) no-repeat;
      background-size: cover;
    }
     .container h1{
    text-align: center;
    color: white;
    margin-bottom: 25px;
     }
     form input, form textarea{
      width:100%;
      padding: 20px;
      display: block;
      margin-bottom: 10px; 
      border-radius: 25px;
      background-color: rgb(243, 237, 237);
    height: 150%;
    
     }
     form button{
    display: block;
    width: 100%;
    padding: 20px;
    border: none;
    border-radius: 25px;
    background-color: #7a39a0;
    color: white;
    cursor: pointer;
    height: 150%;
    
    
     }
     form button:hover{
    background-color: grey;
    
     }
     .map{
      text-align: center;
      margin-bottom: 30px;
      border-radius: 20px;
      border-color: blue;
     }
     .footer{
    text-align: center;
    color: white;
    
     }