  .footer-social a {
    color: white;
  }
  
  .footer-bottom {
    color: white;
    font-size: 15px;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid rgba(169, 169, 169, 0.5);
    width: 800px;
    text-align: center;
    margin: 0 auto;
  
  }
  
  footer {
    padding-top: 40px;
    height: 200px;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    padding-bottom: 20px;
    margin-top: 40px;
  }
  
  .fa {
    padding: 20px;
    font-size: 30px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  
  .fa:hover {
    opacity: 0.7;
  }
  

.fa-facebook {
    color: white;
  }
  
  .fa-twitter {
    color: white;
  }
  
  .fa-instagram {
    color: white;
  }
  
  .footer-nav {
    border-top: 1px solid rgba(169, 169, 169, 0.5);
    padding-top: 20px;
    padding-bottom: 10px;
    width: 600px;
    margin: 0 auto;
    text-align: center;
  }
  
  .footer-navbutton {
    padding: 11px 25px;
    display: inline-block;
    position: relative;
    font-size: 15px;
  }
  
  @media (max-width: 768px) {
    footer {
      height: auto; /* Adjust height as needed */
    }
  
    .footer-social,
    .footer-nav {
      width: 100%; /* Adjust width as needed for responsiveness */
    }
  
    .footer-bottom,
    .footer-nav {
      width: 100%; /* Adjust width for smaller screens */
    }
  
    .footer-bottom {
      padding-top: 10px;
    }
  
    .footer-nav {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  
    .fa {
      padding: 10px;
      font-size: 20px;
    }
  
    .footer-navbutton {
      padding: 8px 20px;
      font-size: 14px;
    }
  }
  